$contentfont: Open sans
$headingfont: Oswald
$tintcolor: #106DB3
$darkheadingcolor:#083452
$lightheadingcolor: #106DB3

header
  background-image: url("img/header.jpg")

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $headingfont
  color: $darkheadingcolor

p,
span
  font-family: $contentfont
