
/* Variables */

$contentfont: Oswald
$headingfont: Open sans
$tintcolor: rgb(16, 110, 177)
$darkheadingcolor:rgb(7, 53, 81)
$lightheadingcolor: $tintcolor
$headlinecolor: rgba(265, 265, 265, 1)
$headlineshadowcolor: $tintcolor
$bordercolor: rgb(231, 235, 238)



/* Document */
a
  text-decoration: none

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $headingfont
  color: $darkheadingcolor

/* Header */

header
  @include bluetint("../img/header.jpg")
  background-size: cover,
  background-position: center

.top-nav span
  color: $darkheadingcolor
  font-size: 12px
  display: inline-block
  position: relative
  bottom: 25px
  font-family: $headingfont

.top-nav,
h1,
h3,
h4
  text-transform: uppercase

.top-nav-list
  font-family: $contentfont
  i
    color: $darkheadingcolor
    font-size: 16px
  a
    color: $darkheadingcolor
    font-size: 16px

.headline
  h1
    color: $headlinecolor
    font-size: 77px
    font-weight: lighter
    text-shadow: 1px 1px 2px $darkheadingcolor
    margin-top: 83px
    margin-bottom: 0
    letter-spacing: 2px

  p
    color: $darkheadingcolor
    font-size: 11px
    margin-top: 0
    position: relative
    bottom: 15px
    letter-spacing: 1px

/* Article */

p,
span
  font-family: $contentfont



/* Sidebar */

/* Subfooter */

.sub-footer
  border-top: 1px solid $bordercolor

/*Footer*/
