@import "mixins"

html
  max-width: 1300px

*
  box-sizing: border-box

ul
  list-style: none

header
  height: 523px

.headline
  @include totalcenter

.article
  display: inline-block
  width: 50%
  float: left

.sidebar
  display: inline-block
  width: 30%
