/* DOCUMENT */
img {
  max-width: 100%; }

* {
  box-sizing: border-box; }

ul {
  list-style: none; }

/* HEADER */
.header-container {
  height: 523px; }

.top-nav {
  max-width: 1018px;
  margin: 0 auto; }
  .top-nav h2 {
    padding-left: 4px;
    display: inline-block;
    vertical-align: middle; }
  .top-nav img {
    vertical-align: middle; }

.top-nav-list {
  float: right;
  margin-top: 17px; }
  .top-nav-list li {
    float: left;
    display: inline;
    letter-spacing: 0.1px; }
    .top-nav-list li:nth-child(2) {
      padding-left: 15px; }
    .top-nav-list li:nth-child(3) {
      padding-left: 7px; }
  .top-nav-list i {
    transform: rotateY(180deg);
    position: relative;
    bottom: 3px;
    right: 6px; }

.headline {
  margin: auto 0;
  text-align: center; }
  .headline h1 {
    display: block;
    margin-top: 150px;
    padding-left: 23px;
    margin-bottom: 0; }
  .headline h4 {
    margin-top: 0;
    position: relative; }

.logo {
  margin-top: 5px;
  height: 55px;
  width: 55px;
  margin-left: 15px; }

/* ARTICLE */
.main-content {
  max-width: 1018px;
  padding-top: 26px;
  padding-left: 0;
  margin-left: 164px; }

.article {
  display: inline-block;
  max-width: 60.21611%; }
  .article h1 {
    margin-bottom: 20px; }

.antastic {
  position: relative;
  right: 5px; }

.en {
  position: relative;
  right: 5px; }

.goes-here {
  position: relative;
  left: 10px; }

.secondheadingline {
  display: inline-block;
  padding-top: 9px; }

.authorinfo-block {
  position: relative;
  bottom: 11px;
  left: 2px; }

.authorheadshot,
.name,
.date {
  vertical-align: middle; }

span.authorheadshot {
  height: 22px;
  width: 22px;
  border-radius: 100%;
  padding-bottom: 2px;
  display: inline-block; }

.name {
  padding-left: 6px; }

.last-name {
  padding-left: 1px; }

.article-date {
  position: relative;
  top: 2px; }

.article-content p:first-of-type {
  margin-top: 22px; }
.article-content p:nth-child(2) {
  margin-top: 25px;
  margin-bottom: 14px; }
.article-content p:nth-child(4) {
  margin-top: 34px; }
.article-content p:nth-child(5) {
  margin-top: 27px; }

.article-insert {
  height: 56px;
  margin-left: 5px;
  position: relative;
  top: 8px; }
  .article-insert h3 {
    display: inline-block;
    position: relative;
    bottom: 11px;
    left: 18px; }

.article-footer {
  display: block;
  position: relative;
  top: 4px;
  left: 2px; }
  .article-footer a {
    display: inline-block;
    height: 30px;
    width: 158px; }
    .article-footer a:nth-of-type(2) {
      width: 128px;
      margin-left: 7px; }
    .article-footer a:nth-of-type(3) {
      width: 154px;
      margin-left: 7px; }
    .article-footer a i {
      display: inline-block;
      width: 33px;
      height: 30px;
      vertical-align: middle;
      padding-top: 7px;
      padding-left: 11px;
      margin: auto; }
      .article-footer a i:first-of-type, .article-footer a i:nth-of-type(2) {
        padding-left: 9px; }
    .article-footer a span {
      height: 30px;
      display: inline-block;
      vertical-align: middle;
      margin: auto;
      padding-top: 4px;
      padding-left: 10px; }
      .article-footer a span:first-of-type {
        padding-left: 11px; }
      .article-footer a span:nth-of-type(2) {
        padding-left: 12px; }

/* SIDEBAR */
.sidebar {
  display: inline-block;
  vertical-align: top;
  margin-left: 81px;
  max-width: 27.30845%; }

.author-pic {
  text-align: center;
  padding-top: 58px; }
  .author-pic h4 {
    margin-top: 5px;
    margin-left: 1px;
    margin-bottom: 0; }

span.headshot {
  border-radius: 100%;
  display: inline-block;
  height: 84px;
  width: 84px; }

.author-social {
  padding-left: 0px;
  display: inline-block;
  margin-top: -2px; }
  .author-social li {
    float: left;
    display: inline-block; }
    .author-social li a {
      padding-left: 10px;
      padding-right: 10px; }

.advertisement {
  text-align: right; }

.adpic span {
  margin-top: 29px;
  width: 280px;
  height: 300px;
  display: inline-block; }

.adcaption {
  display: inline-block;
  position: relative;
  bottom: 2px; }

.sidebar-content h3 {
  padding-top: 21px;
  margin-bottom: 0px; }
.sidebar-content p {
  margin-top: 5px;
  line-height: 24px; }

/* Subfooter */
.sub-footer {
  margin: auto 0;
  text-align: center;
  content: "";
  clear: both;
  display: block;
  margin-top: 73px; }
  .sub-footer h1 {
    margin-top: 23px;
    margin-bottom: 8px;
    padding-left: 2.61538%;
    line-height: 98px;
    position: relative;
    bottom: 2px; }

/*FOOTER */
footer {
  margin: 0;
  padding: 0;
  max-width: 100%; }

.footer-images-list {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin-bottom: 0px; }
  .footer-images-list li {
    float: left;
    display: inline-block;
    width: 25%;
    height: 331px; }
    .footer-images-list li a {
      display: inline-block;
      height: 331px;
      width: 100%; }
    .footer-images-list li span {
      display: inline-block;
      float: left;
      position: relative;
      left: 15px;
      top: 280px; }
    .footer-images-list li .longposttitle {
      top: 240px; }

.footer-nav {
  content: "";
  clear: both;
  display: block; }

.footer-nav-list {
  float: right; }
  .footer-nav-list li {
    float: left;
    display: inline-block; }

/*# sourceMappingURL=grid.css.map */
