@import "mixins"

/* DOCUMENT */


img
  max-width: 100%

*
  box-sizing: border-box

ul
  list-style: none

.main-content
  padding-top: 38px

/* HEADER */

.header-container
  height: 523px

.top-nav
  max-width: 1018px
  margin: 0 auto
  padding-left: 15px

.top-nav-list
  float: right
  margin-top: 17px
  padding-left: 0
  margin-right: 45px
  li
    float: left
    display: inline
    &:nth-child(2)
      padding-left: 15px
    &:nth-child(3)
      padding-left: 7px
  i
    transform: rotateY(180deg)
    position: relative
    bottom: 2px

.headline
  @include totalcenter
  padding-top: 43px
  h1
    display: inline-block
    margin: 0 auto
    letter-spacing: .00001em

.logo
  margin-top: 5px
  height: 55px
  width: 55px



.top-nav
  h2
    padding-left: 4px
    display: inline-block
    vertical-align: middle
  img
    vertical-align: middle

/* ARTICLE */

.article
  display: inline-block
  width: 66%
  float: left
  padding-left: 12%
  padding-right: 6%

.headshot
  border-radius: 100%

/* SIDEBAR */

.sidebar
  display: inline-block
  width: 33%
  padding-top: 45px
  padding-right: 12%

.author-social li
  @include listflatten

/* Subfooter */

.sub-footer
  @include totalcenter

.footer-images-list
  padding: 0
  li
    @include listflatten
    float: none
    margin-left: -5px
    width: percentage(325/1300)

/*FOOTER*/

footer
  margin: 0
  padding: 0

.footer-nav-list
  float: right
  li
    @include listflatten
