/* DOCUMENT */
img {
  max-width: 100%; }

* {
  box-sizing: border-box; }

ul {
  list-style: none; }

/* HEADER */
.header-container {
  height: 523px; }

.top-nav {
  max-width: 1018px;
  margin: 0 auto; }
  .top-nav h2 {
    padding-left: 2px;
    padding-top: 3px;
    display: inline-block;
    vertical-align: middle; }
  .top-nav img {
    vertical-align: middle;
    padding-right: 3px; }

.top-nav-list {
  float: right;
  margin-top: 17px;
  position: relative;
  left: 2px; }
  .top-nav-list li {
    float: left;
    display: inline;
    letter-spacing: 0.1px; }
    .top-nav-list li:nth-child(2) {
      padding-left: 20px; }
    .top-nav-list li:nth-child(3) {
      padding-left: 0px; }
  .top-nav-list i {
    transform: rotateY(180deg);
    position: relative; }

.headline {
  margin: auto 0;
  text-align: center; }
  .headline h1 {
    display: block;
    margin-top: 150px;
    padding-left: 23px;
    margin-bottom: 0; }
  .headline h4 {
    margin-top: 0;
    position: relative; }

.logo {
  margin-top: 5px;
  height: 55px;
  width: 55px;
  margin-left: 15px; }

/* ARTICLE */
.main-content {
  max-width: 1018px;
  padding-top: 26px;
  padding-left: 0;
  margin-left: 164px; }

.article {
  display: inline-block;
  max-width: 60.21611%; }
  .article h1 {
    margin-bottom: 20px; }

.antastic {
  position: relative;
  right: 5px; }

.en {
  position: relative;
  right: 5px; }

.goes-here {
  position: relative;
  left: 10px; }

.secondheadingline {
  display: inline-block;
  padding-top: 9px; }

.authorinfo-block {
  position: relative;
  bottom: 11px;
  left: 2px; }

.authorheadshot,
.name,
.date {
  vertical-align: middle; }

span.authorheadshot {
  height: 22px;
  width: 22px;
  border-radius: 100%;
  padding-bottom: 2px;
  display: inline-block; }

.name {
  padding-left: 6px; }

.last-name {
  padding-left: 1px; }

.article-date {
  position: relative;
  top: 2px; }

.article-content p:first-of-type {
  margin-top: 22px; }
.article-content p:nth-child(2) {
  margin-top: 25px;
  margin-bottom: 14px; }
.article-content p:nth-child(4) {
  margin-top: 34px; }
.article-content p:nth-child(5) {
  margin-top: 27px; }

.article-insert {
  height: 56px;
  margin-left: 5px;
  position: relative;
  top: 8px; }
  .article-insert h3 {
    display: inline-block;
    position: relative;
    bottom: 11px;
    left: 18px; }

.article-footer {
  display: block;
  position: relative;
  top: 4px;
  left: 2px; }
  .article-footer a {
    display: inline-block;
    height: 30px;
    width: 158px; }
    .article-footer a:nth-of-type(2) {
      width: 128px;
      margin-left: 7px; }
    .article-footer a:nth-of-type(3) {
      width: 154px;
      margin-left: 7px; }
    .article-footer a i {
      display: inline-block;
      width: 33px;
      height: 30px;
      vertical-align: middle;
      padding-top: 7px;
      padding-left: 11px;
      margin: auto; }
      .article-footer a i:first-of-type, .article-footer a i:nth-of-type(2) {
        padding-left: 9px; }
    .article-footer a span {
      height: 30px;
      display: inline-block;
      vertical-align: middle;
      margin: auto;
      padding-top: 4px;
      padding-left: 10px; }
      .article-footer a span:first-of-type {
        padding-left: 11px; }
      .article-footer a span:nth-of-type(2) {
        padding-left: 12px; }

/* SIDEBAR */
.sidebar {
  display: inline-block;
  vertical-align: top;
  margin-left: 81px;
  max-width: 27.30845%; }

.author-pic {
  text-align: center;
  padding-top: 58px; }
  .author-pic h4 {
    margin-top: 5px;
    margin-left: 1px;
    margin-bottom: 0; }

span.headshot {
  border-radius: 100%;
  display: inline-block;
  height: 84px;
  width: 84px; }

.author-social {
  padding-left: 0px;
  display: inline-block;
  margin-top: -2px; }
  .author-social li {
    float: left;
    display: inline-block; }
    .author-social li a {
      padding-left: 10px;
      padding-right: 10px; }

.advertisement {
  text-align: right; }

.adpic span {
  margin-top: 29px;
  width: 280px;
  height: 300px;
  display: inline-block; }

.adcaption {
  display: inline-block;
  position: relative;
  bottom: 2px; }

.sidebar-content h3 {
  padding-top: 21px;
  margin-bottom: 0px; }
.sidebar-content p {
  margin-top: 5px;
  line-height: 24px; }

/* Subfooter */
.sub-footer {
  margin: auto 0;
  text-align: center;
  content: "";
  clear: both;
  display: block;
  margin-top: 73px; }
  .sub-footer h1 {
    margin-top: 23px;
    margin-bottom: 8px;
    padding-left: 2.61538%;
    line-height: 98px;
    position: relative;
    bottom: 2px; }

/*FOOTER */
footer {
  margin: 0;
  padding: 0;
  max-width: 100%; }

.footer-images-list {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin-bottom: 0px; }
  .footer-images-list li {
    float: left;
    display: inline-block;
    width: 25%;
    height: 331px; }
    .footer-images-list li a {
      display: inline-block;
      height: 331px;
      width: 100%; }
    .footer-images-list li span {
      display: inline-block;
      float: left;
      position: relative;
      left: 15px;
      top: 280px; }
    .footer-images-list li .longposttitle {
      top: 240px; }

.footer-nav {
  content: "";
  clear: both;
  display: block;
  margin-top: -5px;
  height: 97px;
  max-width: 1018px;
  margin-left: auto;
  margin-right: auto; }
  .footer-nav a {
    display: inline-block;
    vertical-align: middle;
    padding-left: 26px;
    padding-top: 14px; }
  .footer-nav p {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
    padding-top: 12px; }

.footer-nav-list {
  float: right;
  padding-top: 23px;
  padding-left: 41px; }
  .footer-nav-list li {
    float: left;
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px; }
    .footer-nav-list li a {
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 2px; }

.footer-nav-list-mobile {
  display: none;
  padding-top: 23px;
  padding-left: 41px; }
  .footer-nav-list-mobile li {
    float: left;
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px; }
    .footer-nav-list-mobile li a {
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 2px; }

/* Variables */
/* Document */
a {
  text-decoration: none; }

body {
  font-family: Oswald; }

/* Header */
header {
  background: linear-gradient(rgba(16, 110, 177, 0.7), rgba(16, 110, 177, 0.8)), url("../img/header.jpg");
  background-size: cover;
  background-position: center; }

.top-nav h2 {
  font-family: Open sans;
  color: #073551;
  font-size: 16px;
  display: inline-block;
  font-weight: 400;
  letter-spacing: -0.2px; }

.top-nav,
h1,
h2,
h3 {
  text-transform: uppercase; }

.top-nav-list img {
  color: #073551;
  font-size: 18px; }
.top-nav-list a {
  color: #073551;
  font-size: 18px; }
  .top-nav-list a:hover {
    color: white; }

.headline h1 {
  font-family: Open sans;
  color: white;
  text-shadow: 0 2px 4px #073551;
  text-transform: uppercase;
  font-size: 104px;
  line-height: 104px;
  font-weight: 400;
  letter-spacing: -4px; }
.headline h4 {
  font-family: Open sans;
  color: #073551;
  font-size: 15px;
  letter-spacing: -1px;
  font-weight: 700; }

/* Article */
.article h1 {
  font-size: 62px;
  letter-spacing: 0.03px;
  font-family: Oswald;
  line-height: 61px;
  font-weight: 300;
  color: #073551; }

span.authorheadshot {
  background: linear-gradient(rgba(16, 110, 177, 0.7), rgba(16, 110, 177, 0.8)), url("../img/authorlogo.jpg");
  background-size: contain; }
  span.authorheadshot:hover {
    background-image: url("../img/authorlogo.jpg");
    background-size: cover; }
    span.authorheadshot:hover span {
      color: white; }

.name {
  color: #106eb1;
  font-size: 12px;
  margin-right: 13px;
  font-family: Open sans; }

.article-date {
  color: #a4b3bf;
  font-size: 13px;
  font-family: Open sans; }
  .article-date:last-of-type {
    text-decoration: underline; }

.article-content {
  font-family: Open sans;
  font-size: 15px;
  line-height: 26px;
  color: #5e686f; }
  .article-content p:first-of-type {
    letter-spacing: 0.03px; }
  .article-content p:nth-child(5) {
    letter-spacing: 0.03px; }

.chic-mixtape {
  text-decoration: underline;
  color: #a4b3bf; }

.article-insert {
  border-left: 2px solid #d8dfe3; }
  .article-insert h3 {
    color: #106eb1;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.75px; }

.dical {
  position: relative;
  left: 3px; }

.aliqua {
  color: #106eb1;
  text-decoration: underline; }

.article-footer a {
  color: white;
  background-color: #a4b3bf; }
  .article-footer a:last-of-type {
    background-color: #106eb1; }
  .article-footer a span {
    font-family: Source Sans Pro;
    font-size: 15px;
    letter-spacing: 0.03px;
    font-weight: 300; }

.fa-comment,
.fa-cloud-upload {
  color: white;
  background-color: #5e686f; }

.fa-share-square-o {
  color: white;
  background-color: #073551; }

/* Sidebar */
span.headshot {
  background: linear-gradient(rgba(16, 110, 177, 0.7), rgba(16, 110, 177, 0.8)), url("../img/authorlogo.jpg");
  background-size: contain; }
  span.headshot:hover {
    background-image: url("../img/authorlogo.jpg");
    background-size: cover; }
    span.headshot:hover span {
      color: white; }

.author-pic h4 {
  text-transform: uppercase;
  font-family: Open sans;
  color: #106eb1; }

.author-social li {
  font-size: 14px; }
  .author-social li a {
    color: #a4b3bf;
    font-family: Source Sans Pro; }

.advertisement a:last-child {
  color: #a4b3bf;
  font-size: 15px;
  font-family: Source Sans Pro;
  font-weight: lighter;
  text-decoration: underline; }

.adpic span {
  background: linear-gradient(rgba(16, 110, 177, 0.7), rgba(16, 110, 177, 0.8)), url("../img/ad.jpg"); }
  .adpic span:hover {
    background-image: url("../img/ad.jpg");
    background-size: cover; }
    .adpic span:hover span {
      color: white; }

.sidebar-content h3 {
  color: #106eb1;
  letter-spacing: -0.4px; }
.sidebar-content p {
  font-family: Source Sans Pro;
  color: #a4b3bf;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 0.1px; }

/* Subfooter */
.sub-footer {
  border-top: 1px solid #e7ebee; }
  .sub-footer h1 {
    font-size: 61px;
    color: #073551;
    letter-spacing: 1.25px;
    font-weight: lighter; }

/*Footer */
.footer-images-list li:first-of-type {
  background: linear-gradient(rgba(16, 110, 177, 0.7), rgba(16, 110, 177, 0.8)), url("../img/subfooter1.jpg");
  background-size: cover; }
  .footer-images-list li:first-of-type:hover {
    background-image: url("../img/subfooter1.jpg");
    background-size: cover; }
    .footer-images-list li:first-of-type:hover span {
      color: white; }
.footer-images-list li:nth-of-type(2) {
  background: linear-gradient(rgba(16, 110, 177, 0.7), rgba(16, 110, 177, 0.8)), url("../img/subfooter2.jpg");
  background-size: cover; }
  .footer-images-list li:nth-of-type(2):hover {
    background-image: url("../img/subfooter2.jpg");
    background-size: cover; }
    .footer-images-list li:nth-of-type(2):hover span {
      color: white; }
.footer-images-list li:nth-of-type(3) {
  background: linear-gradient(rgba(16, 110, 177, 0.7), rgba(16, 110, 177, 0.8)), url("../img/subfooter3.jpg");
  background-size: cover;
  line-height: 37px; }
  .footer-images-list li:nth-of-type(3):hover {
    background-image: url("../img/subfooter3.jpg");
    background-size: cover; }
    .footer-images-list li:nth-of-type(3):hover span {
      color: white; }
.footer-images-list li:nth-of-type(4) {
  background: linear-gradient(rgba(16, 110, 177, 0.7), rgba(16, 110, 177, 0.8)), url("../img/subfooter4.jpg");
  background-size: cover; }
  .footer-images-list li:nth-of-type(4):hover {
    background-image: url("../img/subfooter4.jpg");
    background-size: cover; }
    .footer-images-list li:nth-of-type(4):hover span {
      color: white; }
.footer-images-list a {
  font-family: Oswald;
  font-size: 30px;
  color: #073551;
  text-transform: uppercase; }

.bottom-footer {
  background-color: #073551; }

.footer-nav p {
  color: #a4b3bf;
  font-family: Source Sans Pro;
  font-weight: lighter;
  letter-spacing: -0.2px; }
.footer-nav a {
  text-decoration: none;
  color: #a4b3bf;
  font-family: Source Sans Pro;
  font-size: 15px;
  letter-spacing: 0.3px; }

.footer-nav-list li {
  line-height: 13px; }
.footer-nav-list li:nth-of-type(n+2) {
  border-left: 1px solid #a4b3bf; }

.footer-nav-list-mobile li {
  line-height: 13px; }
.footer-nav-list-mobile li:nth-of-type(n+2) {
  border-left: 1px solid #a4b3bf; }

@media (max-width: 1024px) {
  /*Tablet */
  .top-nav-list {
    margin-right: 100px; }

  .headline h1 {
    font-size: 72px;
    margin-top: 140px; }

  .top-nav h2 {
    display: none; } }
@media (max-width: 600px) {
  /*Smartphone */
  /*Header */
  .header-container {
    height: 250px; }

  .top-nav {
    display: inline-block;
    margin-left: 35%;
    text-align: center; }

  .top-nav-list {
    display: inline-block;
    margin-top: 17px;
    padding-left: 0; }
    .top-nav-list li {
      margin: 0 auto; }

  .logo {
    display: block;
    margin-left: 18%; }

  .headline h1 {
    margin-top: 1px;
    font-size: 40px;
    line-height: inherit;
    letter-spacing: normal;
    padding-left: 0; }

  /* Article */
  .main-content {
    margin-left: 3%; }

  .article {
    max-width: 90%; }
    .article h1 {
      font-size: 50px;
      text-align: left; }

  .secondheadingline {
    padding-top: 0; }

  .antastic,
  .en,
  .goes-here {
    position: static; }

  span.authorheadshot,
  .name,
  .last-name,
  .article-date:first-of-type {
    display: none; }

  .article-footer a {
    width: 33px; }
    .article-footer a:nth-of-type(2) {
      width: 33px; }
    .article-footer a:nth-of-type(3) {
      width: 33px; }
    .article-footer a span {
      display: none; }

  /* Sidebar */
  .sidebar {
    margin: 0 auto;
    max-width: 95%;
    display: block; }

  .advertisement {
    text-align: center; }

  .adcaption {
    padding-left: 190px; }

  div.sidebar-content {
    display: none; }

  /* Subfooter */
  .sub-footer h1 {
    font-size: 40px; }

  /* Footer */
  .bottom-footer {
    height: 225px;
    text-align: center; }

  .footer-images-list li {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px; }

  .footer-nav p,
  .footer-nav a,
  .footer-nav img {
    display: block; }
  .footer-nav img {
    padding-top: 0px;
    margin-left: 40%; }

  .footer-nav-list {
    display: none; }

  .footer-nav-list-mobile {
    display: inline-block; } }

/*# sourceMappingURL=style.css.map */
