/* DOCUMENT */
img {
  max-width: 100%; }

* {
  box-sizing: border-box; }

ul {
  list-style: none; }

/* HEADER */
.header-container {
  height: 523px; }

.top-nav {
  max-width: 1018px;
  margin: 0 auto; }
  .top-nav h2 {
    padding-left: 4px;
    display: inline-block;
    vertical-align: middle; }
  .top-nav img {
    vertical-align: middle; }

.top-nav-list {
  float: right;
  margin-top: 17px; }
  .top-nav-list li {
    float: left;
    display: inline;
    letter-spacing: 0.1px; }
    .top-nav-list li:nth-child(2) {
      padding-left: 15px; }
    .top-nav-list li:nth-child(3) {
      padding-left: 7px; }
  .top-nav-list i {
    transform: rotateY(180deg);
    position: relative;
    bottom: 3px;
    right: 6px; }

.headline {
  margin: auto 0;
  text-align: center; }
  .headline h1 {
    display: block;
    margin-top: 150px;
    padding-left: 23px;
    margin-bottom: 0; }
  .headline h4 {
    margin-top: 0;
    position: relative; }

.logo {
  margin-top: 5px;
  height: 55px;
  width: 55px;
  margin-left: 15px; }

/* ARTICLE */
.main-content {
  max-width: 1018px;
  padding-top: 26px;
  padding-left: 0;
  margin-left: 164px; }

.article {
  display: inline-block;
  max-width: 60.21611%; }
  .article h1 {
    margin-bottom: 20px; }

.antastic {
  position: relative;
  right: 5px; }

.en {
  position: relative;
  right: 5px; }

.goes-here {
  position: relative;
  left: 10px; }

.secondheadingline {
  display: inline-block;
  padding-top: 9px; }

.authorinfo-block {
  position: relative;
  bottom: 11px;
  left: 2px; }

.authorheadshot,
.name,
.date {
  vertical-align: middle; }

img.authorheadshot {
  height: 23px;
  width: 23px;
  border-radius: 100%;
  padding-bottom: 2px; }

.name {
  padding-left: 6px; }

.last-name {
  padding-left: 1px; }

.article-date {
  position: relative;
  top: 2px; }

.article-content p:first-of-type {
  margin-top: 22px; }
.article-content p:nth-child(2) {
  margin-top: 25px;
  margin-bottom: 14px; }
.article-content p:nth-child(4) {
  margin-top: 34px; }
.article-content p:nth-child(5) {
  margin-top: 27px; }

.article-insert {
  height: 56px;
  margin-left: 5px;
  position: relative;
  top: 8px; }
  .article-insert h3 {
    display: inline-block;
    position: relative;
    bottom: 11px;
    left: 18px; }

.article-footer {
  display: block;
  position: relative;
  top: 4px;
  left: 2px; }
  .article-footer a {
    display: inline-block;
    height: 30px;
    width: 158px; }
    .article-footer a:nth-of-type(2) {
      width: 128px;
      margin-left: 7px; }
    .article-footer a:nth-of-type(3) {
      width: 154px;
      margin-left: 7px; }
    .article-footer a i {
      display: inline-block;
      width: 33px;
      height: 30px;
      vertical-align: middle;
      padding-top: 7px;
      padding-left: 11px;
      margin: auto; }
      .article-footer a i:first-of-type, .article-footer a i:nth-of-type(2) {
        padding-left: 9px; }
    .article-footer a span {
      height: 30px;
      display: inline-block;
      vertical-align: middle;
      margin: auto;
      padding-top: 4px;
      padding-left: 10px; }
      .article-footer a span:first-of-type {
        padding-left: 11px; }
      .article-footer a span:nth-of-type(2) {
        padding-left: 12px; }

/* SIDEBAR */
.sidebar {
  display: inline-block;
  vertical-align: top;
  margin-left: 81px;
  max-width: 27.30845%; }

.author-pic {
  text-align: center;
  padding-top: 58px; }
  .author-pic h4 {
    margin-top: 5px;
    margin-left: 1px;
    margin-bottom: 0; }

img.headshot {
  border-radius: 100%; }

.author-social {
  padding-left: 0px;
  display: inline-block;
  margin-top: -2px; }
  .author-social li {
    float: left;
    display: inline-block; }
    .author-social li a {
      padding-left: 10px;
      padding-right: 10px; }

.advertisement {
  text-align: right; }

.adpic img {
  margin-top: 29px;
  width: 280px;
  height: 300px; }

.adcaption {
  display: inline-block;
  position: relative;
  bottom: 2px; }

.sidebar-content h3 {
  padding-top: 21px;
  margin-bottom: 0px; }
.sidebar-content p {
  margin-top: 5px;
  line-height: 24px; }

/* Subfooter */
.sub-footer {
  margin: auto 0;
  text-align: center;
  content: "";
  clear: both;
  display: block; }

.footer-images-list {
  padding: 0; }
  .footer-images-list li {
    float: left;
    display: inline-block;
    margin-left: -5px;
    width: 25%; }

/*FOOTER */
footer {
  margin: 0;
  padding: 0; }

.footer-nav-list {
  float: right; }
  .footer-nav-list li {
    float: left;
    display: inline-block; }

/* Variables */
/* Document */
a {
  text-decoration: none; }

body {
  font-family: Oswald; }

/* Header */
header {
  background: linear-gradient(rgba(16, 110, 177, 0.8), rgba(16, 110, 177, 0.9)), url("../img/header.jpg");
  background-size: cover;
  background-position: center; }

.top-nav h2 {
  font-family: Open sans;
  color: #073551;
  font-size: 16px;
  display: inline-block;
  font-weight: 400;
  letter-spacing: -0.2px; }

.top-nav,
h1,
h2,
h3 {
  text-transform: uppercase; }

.top-nav-list i {
  color: #073551;
  font-size: 18px; }
.top-nav-list a {
  color: #073551;
  font-size: 18px; }

.headline h1 {
  font-family: Open sans;
  color: white;
  text-shadow: 0 2px 4px #073551;
  text-transform: uppercase;
  font-size: 104px;
  line-height: 104px;
  font-weight: 400;
  letter-spacing: -4px; }
.headline h4 {
  font-family: Open sans;
  color: #073551;
  font-size: 15px;
  letter-spacing: -0.75px;
  font-weight: 700; }

/* Article */
.article h1 {
  font-size: 62px;
  letter-spacing: 0.03px;
  font-family: Oswald;
  line-height: 61px;
  font-weight: 300; }

.name {
  color: #106eb1;
  font-size: 12px;
  margin-right: 13px;
  font-family: Open sans; }

.article-date {
  color: #a4b3bf;
  font-size: 13px;
  font-family: Open sans; }
  .article-date:last-of-type {
    text-decoration: underline; }

.article-content {
  font-family: Open sans;
  font-size: 15px;
  line-height: 26px;
  color: #5e686f; }
  .article-content p:first-of-type {
    letter-spacing: 0.03px; }
  .article-content p:nth-child(5) {
    letter-spacing: 0.03px; }

.chic-mixtape {
  text-decoration: underline;
  color: #a4b3bf; }

.article-insert {
  border-left: 2px solid #d8dfe3; }
  .article-insert h3 {
    color: #106eb1;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -1px; }

.dical {
  position: relative;
  left: 3px; }

.aliqua {
  color: #106eb1;
  text-decoration: underline; }

.article-footer a {
  color: white;
  background-color: #a4b3bf; }
  .article-footer a:last-of-type {
    background-color: #106eb1; }
  .article-footer a span {
    font-family: Source Sans Pro;
    font-size: 15px;
    letter-spacing: 0.03px;
    font-weight: 300; }

.fa-comment,
.fa-cloud-upload {
  color: white;
  background-color: #5e686f; }

.fa-share-square-o {
  color: white;
  background-color: #073551; }

/* Sidebar */
.author-pic h4 {
  text-transform: uppercase;
  font-family: Open sans;
  color: #106eb1; }

.author-social li {
  font-size: 14px; }
  .author-social li a {
    color: #a4b3bf;
    font-family: Source Sans Pro; }

.advertisement a:last-child {
  color: #a4b3bf;
  font-size: 15px;
  font-family: Source Sans Pro;
  font-weight: lighter;
  text-decoration: underline; }

.sidebar-content h3 {
  color: #106eb1;
  letter-spacing: -0.4px; }
.sidebar-content p {
  font-family: Source Sans Pro;
  color: #a4b3bf;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 0.1px; }

/* Subfooter */
.sub-footer {
  border-top: 1px solid #e7ebee; }

/*Footer */
@media (max-width: 1120px) {
  .top-nav-list {
    margin-right: 100px; } }
@media (max-width: 960px) {
  .top-nav h2 {
    display: none; }

  .headline h1 {
    margin-top: 60px; } }
@media (max-width: 600px) {
  .top-nav {
    display: inline-block;
    margin-left: 33%; }

  .top-nav-list {
    display: block;
    margin-top: 17px; }

  .logo {
    display: block;
    margin-left: 25%; }

  .headline h1 {
    margin-top: 10px; } }

/*# sourceMappingURL=style.css.map */
